.container {
    text-align: center;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(210, 142, );
}

body {
    margin: 0px;
    background-color: rgb(30, 144, 237)
}

table {
    margin: auto;
}

input {
    border-radius: 30px;
    border: 5px solid #01000A;
    font-size: 34px;
    height: 55px;
    width: 300px;
}

button {
    border-radius: 10px;
    font-size: 40px;
    background: #F5DEB3;
    width: 65px;
    height: 60px;
    margin: 2px;
}

.calculator {
    border: 10px solid #FFEBCD;
    padding: 20px;
    border-radius: 40px;
    display: inline-block;
    background:#131415 
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color:black
}